.App-Header {
  width: 100%;
  background: #ececec;
  padding: 2rem;
}
.App-Header>a {
  margin: 0 1rem;
  background: #d8d8d8;
  border-radius: 0.5em;
  padding: 0.75rem 1.5rem;

  color: black;
  text-decoration: none;
}

.App-Header>a:visited {
  color: black;
}